.Card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    border-radius: 10px;
    width: 200px;
    height: 500px;
}
/* Detalle Producto */
.detalleP{
    margin-top: 10px;
}
.imgs{
    width: 200px;
}
/* Boton Count */
.btn-group{
    display: flex;
    margin: 10px 0 0 0;
}
.plusMinus{
    border-radius: 30px;
    
}
/* Agregar Carrito */
.agregarC{
    background-color: salmon;
    border-radius: 20px;
    width: 10px;
    margin: 0 0 10px 0;
}
.agregaC:hover{
    background-color: red;
}

