$rosa: #eb00b0;
$violetaOscuro: #3a0130;

.carouselContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .carouselPure {
        display: flex;
        justify-content: flex-end;

        .slidePure {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            height: 100%;
            object-fit: cover;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                max-height: 90vh;
                object-position: 85% 35%;
            }

            .descrip {
                position: absolute;
                margin: 30px 40px .3% 17%;

                button {
                    color: $rosa;
                    background-color: transparent;
                    border: 1px solid $rosa;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 17px;
                    font-weight: 500;

                    &:hover {
                        background-color: $rosa;
                        color: white;

                    }
                }
            }
        }
    }
}

.carouselBtns {
    position: absolute;
    margin: 20px;

    .buttonNextPrev {
        background: transparent;
        border: none;
        color: $rosa;
        font-size: 24px;
        transition: .2s;

        &:hover {
            transform: scale(1.1);
        }

        &::selection {
            border: none;
            background: none;
        }
    }
}