$rosa: #eb00b0;
$violetaOscuro: #3a0130;

.emptyTitle {
    font-size: 30px;
    color: $violetaOscuro;
    font-weight: 500;
    margin-bottom: 50px;

    @media (max-width: 768px) {
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
}

.cartAndCheckout {
    display: flex;
    justify-content: center;
    margin: 7em 0;

    .containerCarrito {
        display: flex;
        justify-content: center;
        width: 64em;

        @media (max-width: 768px) {
            width: 100%;
            flex-direction: column;
        }
    }
}


.allCartProducts {
    display: flex;
    flex-direction: column;


    .cartProductsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 20px 15px 20px;


        .cartProduct {
            background: white;
            display: flex;
            justify-content: center;
            border-radius: 5px;
            border: 1px solid #d0d0d0;

            @media (max-width: 768px) {
                width: 80%;
                align-items: flex-start;
                margin: 0 10px;
                padding: 10px 20px;

            }

            .imgContainer {
                max-width: 100px;
                margin:  10px;

                img {
                    width: 100%;
                }

                @media (max-width: 768px) {
                    max-width: 100px;
                    margin: auto 10px;

                }
            }

            .cartProductInfo {
                width: 20em;
                display: flex;
                flex-direction: column;
                padding-top: 20px;
                margin-left: 10px;

                @media (max-width: 768px) {
                    width: 100%;
                    padding: 20px 0;
                    margin: 0 5px;
                }

                .productTittle {
                    font-size: 15px;
                    font-weight: 700;
                    color: $violetaOscuro;
                    margin: 0;

                    @media (max-width: 768px) {
                        font-size: 13px;
                        font-weight: 700;
                        margin-bottom: 10px;
                    }
                }

                .priceQuantity {
                    margin-top: 15px;

                    @media (max-width: 768px) {
                        margin: 3px 0;
                    }

                    .precioUnitario {
                        font-size: 13px;
                        color: $rosa;

                        .texto {
                            color: $violetaOscuro;
                        }
                    }

                    .productPrice {
                        font-size: 17px;
                        color: $rosa;
                        font-weight: 700;
                        margin-left: 80px;

                        @media (max-width: 950px) {
                            margin-left: 20px;
                        }
                    }

                    .productQuantity {
                        color: gray;
                        font-size: 13px;
                    }
                }
            }

            .removeBtnContainer {
                margin-top: 10px;
                margin-right: 10px;

                @media (max-width: 768px) {
                    margin: 0;
                }

                .button {
                    margin: 0;

                    @media (max-width: 768px) {
                        margin: 3px;
                    }
                }
            }
        }
    }
}

.checkoutContainer {
    background: white;
    padding: 20px 30px;
    border-radius: 5px;
    width: 26em;
    height: 20em;
    border: 1px solid #d0d0d0;

    @media (max-width: 768px) {
        width: auto;
        height: auto;
        margin: 0 10px;
    }

    ul {

        li {
            display: flex;
            justify-content: space-between;
            margin: 10px 0;

            .checkoutQuantity {
                font-size: 17px;
                font-weight: 700;
            }

            .checkoutTotalPrice {
                font-size: 18px;
                font-weight: 700;
                color: $rosa;
            }

            .checkoutVariants {
                font-size: 15px;
                color: gray;
            }
        }
    }

    .termsConditions {
        color: gray;
        font-size: 11px;
        margin-top: 50px;
        margin-bottom: 15px;
        text-align: center;
    }

    #checkoutButton {
        background: $violetaOscuro;
        color: white;
        font-size: 16px;
        width: 15em;
        margin: auto;
        display: block;

        &:hover {
            background-color: $rosa;
        }
    }
}

.checkoutBtnsContainer {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
        padding: 10px;
    }

    .seguirComprandoBtn {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        background-color: transparent;
        color: $rosa;
        border: 2px solid $rosa;
        border-radius: 4px;
        font-weight: 600;
        cursor: pointer;
        transition: .2s;

        &:hover {
            color: white;
            background-color: $rosa;
        }
    }

    .vaciar {
        color: red;
        border: 2px solid red;
        width: 80%;
        margin-right: 10px;

        &:hover {
            background-color: red;
        }
    }
}

.cartView,
.orderContainer {

    display: flex;
    justify-content: center;
    flex-direction: column;

}

.cartView {
    margin: 100px 20px;
    a .ui.animated.button{
        background-color: $violetaOscuro;
    color: white;
        &:hover{
            background-color: transparent;
            color: red;
            border: red solid 1px;
        }
        }
        h4{
            margin: 0 10px;
        }
}

.cartView h1,
.cartView a {
    margin: 10px auto;
}

.cartItemsWrapper {
    margin: 10px auto;

}

.carrito {

    border-radius: 10px;
    min-width: 60vh;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    height: 150px;

}

.itemCarrito {
    display: flex;
    flex-direction: row;
}

.imgItemCarrito {
    width: auto;
}


.cardInfo {

    margin: 10px 50px 10px 30px;
}

.trashIcon {
    top: 0%;
    right: 0%;
    position: absolute;
    margin: 10px;
}

.botonIrAComprar,
.botonFinalizarLaCompra,
.botonIngresar {
    border-radius: 5px;
    background-color: pink;
    margin: 0 auto;
}

.botonFinalizarLaCompra {
    margin: 0 auto;
    width: 150px;
}

.cartItemsWrapper,
.orderContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.orderContainer {
    margin: 0 20px;
}

.orderContainer h3,
.userName {
    color: $violetaOscuro;
    font-size: 20px;
    margin: 20px auto;
}

.userForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: max-content;
    margin: 20px auto;
}

.userForm input {
    margin-bottom: 10px;
}

.loaderCart .lds-roller {
    position: relative;
    left: 47%;

}

.itemsYTotal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}