.cartLi a {


    img {
        margin: 10px;
        align-items: center;
        
    }

    .badgeC {
        position: relative;
        top: -30px;
        left: 30px;
        font-size: .8em;
        height: 20px;
        width: 20px;
        padding: 2px 5px 2px 6px;
        color: white;
        background-color: #eb00b0;
        border-radius: 15px;
        margin-right: 10px;
    }
}