$rosa: #eb00b0;

.footer {
    background-color: #f4f4f4;
    width: 100%;
    padding: 30px 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .redesFooter{
        display: flex;
        justify-content: center;
        list-style: none;
        li{
            display: flex;
            align-items: flex-end;
            margin-right: 10px;
        }
    }
    h3, h4{
        font-size: 11px;
        margin: 0 auto;
        @media (max-width: 768px) {
            font-size: 9px;
           
        }
        @media (max-width: 400px) {
            font-size: 8px;
           
        }
    }
   h5{
        font-size: 9px;
        margin: 0 auto;
        @media (max-width: 768px) {
            font-size: 7px;
           
        }
    }
}