$rosa: #eb00b0;

.footer {
    background-color: #f4f4f4;
    width: 100%;
    padding: 60px 40px 20px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h3{
        font-size: 13px;
        margin: 0 auto;

    }
    h4{
        font-size: 11px;
        margin: 0 auto;
    }
}