$rosa: #eb00b0;
$violetaOscuro: #3a0130;

.itemCard {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px 15px 5px;
    border: 1px solid ghostwhite;
    border-radius: 5px;
    width: 18em;
    height: 31em;
    transition: box-shadow .3s;
    overflow: hidden;

    &:hover {
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.50);
    }

    @media (max-width: 768px) {
        margin: 0;
    }

    .imgProducto {
        width: 20em;
        height: 25em;
        object-fit: contain;
        margin: 10px;
    }

    .discountContainer {
        display: flex;
        justify-content: flex-start;

        .productVariants {
            margin-right: 1px;
            margin-bottom: 0;
            padding: 1px 2px;
            font-size: 11px;
            color: white;
            background-color: $rosa;
            border-radius: 4px;
        }
    }

    .brandAndName {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .productBrand {
            font-weight: 500;
            margin: 5px 5px 0;
            font-size: 14px;
        color: $rosa;

        }

        .productName {
            color: $violetaOscuro;
            font-weight: 400;
            font-size: 11px;
            margin: 5px 0 5px 0;
        }
    }

    .productPrice {
        color: $rosa;
        font-size: 15px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        margin: 0 5px 5px;
        
    }

    .productLastPrice {
        color: gray;
        font-size: 14px;
        font-weight: 700;
        text-decoration: line-through;
        margin: 5px 0 0 0;

    }

    .stockActual {
        color: #2C3330;
        font-size: 13px;
        margin-top: 5px;
    }

    .btnIrItemDetail {
        margin-top: 10px;

        .ui.button {
            color: white;
            background: $rosa;
            width: 9em;
        }
    }
}