$rosa: #eb00b0;
$violetaOscuro: #3a0130;
@font-face {
    font-family: "Beauty";
    font-style: normal;
    src: local("Beauty"),
     url("../fonts/Beauty.otf") format("opentype");

    }
.navbar.active {

    background-color: white;
    filter: opacity(.9);
    box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.26);
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5em;
    padding: 10px 35px;
    transition: .3s;

    .logo {
        align-items: center;
        display: flex;
        color: white;
        line-height: 0.7em;
        font-family: "Beauty";
        font-size: 35px;
        font-weight: 300;
        letter-spacing: 2px;
        border-radius: 5px;
        margin: 10px 5px 5px 5px;
        padding: 5px 10px 5px 10px;
        color: $violetaOscuro;
        transition: .3s;

        &:hover {
            color: $rosa;
        }

        @media (max-width: 850px) {
            font-size: 28px;
        }

        @media (max-width: 500px) {
            font-size: 20px;
 


        }

        .logoHome {
            width: 60px;
            margin-right: 10px;
            margin-bottom: 10px;
      
            @media (max-width: 850px) {
                width: 50px;


            }

            @media (max-width: 500px) {
                width: 40px;

            }

        }
    }

    a img {
        margin-top: 10px;
    }

    @media (max-width: 950px) {
        padding: 10px;
        justify-content: center;
    }

    .cartLi {
        margin: 14px 10px 0 10px;
        @media (max-width: 950px) {
            margin: 14px 0px 0 0px;

           
        }
    }

    /* ///// RESPONSIVE MENU ////// */

    .menuResponsiveBtn {
        display: none;

        @media (max-width: 950px) {
            display: flex;
            position: absolute;
            right: 9px;
            top: 21px;
            border: none;
            background: transparent;
            transition: opacity .3s;

            .icon {
                font-size: 25px;
                color: $violetaOscuro;
            }
        }

    }

    .closeResponsiveBtn {
        display: none;

        @media (max-width: 950px) {
            border: none;
            background: transparent;
            display: none;
            position: absolute;
            right: 9px;
            top: 21px;
            border: none;
            background: transparent;

            .icon {
                font-size: 25px;
                color: $violetaOscuro;
            }
        }
    }

    .categorias {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 950px) {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 5em;
            right: 0;
            align-items: flex-end;
            background: white;
            padding: 20px 0;
            width: 50%;
            padding: 40px 0;
            border-radius: 0px 0px 0 6px;
            border-left: 2px solid $rosa;
            border-bottom: 2px solid $rosa;
        }

        li {
            margin: 12px 35px 0;
            list-style: none;

            @media (max-width: 950px) {
                margin: 15px 20px;
            }

            .categoria {
                font-weight: 300;
                font-size: 16px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $violetaOscuro;
                padding-bottom: 5px;
                border-bottom: 2px solid transparent;
                transition: .2s;

                &:hover {
                    border-bottom: 2px solid $rosa;
                    border-radius: 1px;
                }

                @media (max-width: 950px) {
                    color: $rosa;
                    font-weight: 500;
                    font-size: 18px;
                }
            }

            ///////////
            //////////////////
            ////////////////
            .categoria_home {
                font-weight: 400;
                font-size: 16px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                padding-bottom: 5px;
                border-bottom: 2px solid transparent;
                transition: .2s;

                &:hover {
                    border-bottom: 2px solid $rosa;
                    border-radius: 1px;
                }
            }

            .categoriaActive {
                transition: .2s;
                border-bottom: 2px solid $rosa;
                color: $rosa;
                font-weight: 600;
            }
        }
    }

    .cartLogin {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        @media (max-width: 950px) {
            position: absolute;
            margin-top: 30px;
            left: -1.5em;

        }

        .dividerSpan {
            @media (max-width: 950px) {
                display: none;
            }
        }

        a {
            margin: 0;
            color: gray;
            transition: .3s;

            &:hover {
                color: $rosa;
            }
        }

        .mapIcon,
        .loginIcon {
            @media (max-width: 950px) {
                display: none;
            }
        }

        li {
            list-style: none;
        }
    }
}