$rosa: #eb00b0;
$violetaOscuro: #3a0130;

.navbar.active {
    background-color: white;
    background: #fff;
    box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.26);
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5em;
    padding: 10px 35px;
    transition: .3s;
    @media (max-width: 768px) {
        padding: 10px;
        justify-content: center;
    }

    /* ///// RESPONSIVE MENU ////// */

    .menuResponsive_btn {
        display: none;
        @media (max-width: 768px) {
            display: flex;
            position: absolute;
            right: 9px;
            top: 21px;
            border: none;
            background: transparent;
            transition: opacity .3s;
            .icon {
                font-size: 25px;
                color: $violetaOscuro;
            }
        }
    }

    .closeResponsive_btn {
        display: none;
        @media (max-width: 768px) {
            border: none;
            background: transparent;
            display: none;
            position: absolute;
            right: 9px;
            top: 21px;
            border: none;
            background: transparent;

            .icon {
                font-size: 25px;
                color: $violetaOscuro;
            }
        }
    }
    
    .categorias {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 768px) {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 5em;
            right: 0;
            align-items: flex-end;
            background: white;
            padding: 20px 0;
            width: 50%;
            padding: 40px 0;
            border-radius: 0px 0px 0 6px;
            border-left: 2px solid $rosa;
            border-bottom: 2px solid $rosa;
        }

        li {
            margin: 12px 35px 0;
            list-style: none;

            @media (max-width: 768px) {
                margin: 15px 20px;
            }

            .categoria {
                font-weight: 300;
                font-size: 16px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                color: grey;
                padding-bottom: 5px;
                border-bottom: 2px solid transparent;
                transition: .2s;
                &:hover {
                    border-bottom: 2px solid $rosa;
                    border-radius: 1px;
                }
                @media (max-width: 768px) {
                    color: $rosa;
                    font-weight: 500;
                    font-size: 18px;
                }
            }

            .categoria_home {
                font-weight: 400;
                font-size: 16px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                padding-bottom: 5px;
                border-bottom: 2px solid transparent;
                transition: .2s;
                &:hover {
                    border-bottom: 2px solid $rosa;
                    border-radius: 1px;
                }
            }

            .categoriaActive {
                transition: .2s;
                border-bottom: 2px solid $rosa;
                color: $rosa;
                font-weight: 600;
            }
        }
    }

    .cartLogin {
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
            position: absolute;
            left: 1.5em;
            
        }
        .dividerSpan {
            @media (max-width: 768px){
                display: none;
            }
        }
        a {
            margin: 0;
            color: gray;
            transition: .3s;
            &:hover {
                color: $rosa;
            }
        }
        .mapIcon, .loginIcon {
            @media (max-width: 768px) {
                display: none;
            }
        }
        li{
            list-style: none;
        }
    }
}