$rosa: #eb00b0;
$violetaOscuro: #3a0130;

.purchaseData {
    margin: 0 20px;

    @media (max-width: 768px) {
            padding: 0 20px;
            margin-bottom: 2em;
    }

    h3, h4 {
        font-size: 16px;
        margin: 0;
        color: $violetaOscuro;
    }
    h2 {
        font-weight: 400;
        color: $rosa;
        margin-bottom: 35px;
        @media (max-width: 768px) {
            margin-bottom: 15px;
            font-size: 21px;
        }
    }
    .ui.button {
        margin-top: 20px;
    }

    .priceTotalContainer {
        border: 1px solid #d0d0d0;
        padding: 20px 20px;
        border-radius: 20px;
        
        margin-bottom: 15px;
        @media (max-width: 768px) {
            padding: 20px;
            width: 100%;
            
        }
        
        .priceTotalItem{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            a .ui.animated.button{
                background-color: $violetaOscuro;
            color: white;
                &:hover{
                    background-color: transparent;
                    color: red;
                    border: red solid 1px;
                }
                }
                h4{
                    margin: 0 10px;
                }
        }
    }

    button.ui.green.button {
        margin-right: 0;
        color: white;
        background-color: $rosa;
    }

}
